numpy
rlax
tensorflow_datasets==4.6.0
pillow
chex
trfl
dm-haiku
jaxlib==0.4.3
atari-py
gym[atari]
flax
tensorflow==2.8.0
dm-tree
jax==0.4.3
pygame==2.1.0
absl-py
optax
dm-reverb==0.8.0
dm-launchpad==0.5.2
gym==0.25.0
typing-extensions
dm-sonnet
rlds
dm-env
dm-control
tensorflow_probability==0.15.0
bsuite
